{%extends "nav.html" %}
{%block content%}

<script src="{{ url_for('static', filename='call.js') }}"></script>
<script src="{{ url_for('static', filename='draw.js') }}"></script>

<div id="container" class="container-fluid">
    <div class="row">
        <div id="draw" class="col-8 text-center"></div>
        <div class="col-4">
            <div class="row">
                <p class="col-4">
                    <button type="button" id="start" class="btn btn-primary" onclick="start()">Play</button>
                </p>
                <p class="col-4">
                    <button type="button" id="stop" class="btn btn-primary" onclick="stop()" disabled>Stop</button>
                </p>
                <p class="col-4">
                    <button type="button" class="btn btn-primary" onclick="clearContent()">Clear</button>
                </p>
            </div>
            <div class="row">
                <div class="col-4">
                    <button type="button" class="btn btn-primary" onclick="addCircle()">Add</button>
                </div>
                <div class="col-4">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Circles <span class="caret"></span></button>
                    <ul id="circlesList" class="dropdown-menu pre-scrollable" role="menu"></ul>
                </div>
                <div class="col-4">
                    <button type="button" class="btn btn-primary{% if 'email' not in session %} d-none{% endif %}" onclick="saveRec()">Save</button>
                </div>
            </div>
            <div id="circle"></div>
        </div>
    </div>
</div>

{% endblock %}